[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
geopy = "*"
requests = "*"
parsel = "*"
lxml = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
